{{#each blogs as |blog| }}
<div class="blog">
  <div class="card" id="blopSpot">
    <h3>
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h3>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    <p>{{blog.description}}</p>
  </div>
</div>
{{/each}}